<section class="relative isolate px-8 lg:px-24 py-12 bg-white text-gray-800">
    <div
        aria-hidden="true"
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden sm:-top-80 drop-shadow-md"
    >
        <div class="relative w-dvw h-116 top-40 bg-indigo-100"></div>
    </div>
    <div class="mx-auto container">
        <div class="text-left mb-12">
            <h2 id="title" class="text-4xl font-bold mb-24">All Projects</h2>
            <p class="text-gray-600">
                Explore the full list of projects including web apps, tools, and
                experiments I've built using various technologies.
            </p>
        </div>
        <div id="project-full" class="grid gap-8 md:grid-cols-4">
            <!-- Project Card -->
        </div>
    </div>
</section>
