
    <!-- Contacts -->
    <footer
        id="contact"
        class="relative px-8 lg:px-24 pb-8 pt-48 overflow-hidden"
    >
        <div
            aria-hidden="true"
            class="absolute inset-x-0 bottom-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:-bottom-20"
        >
            <div
                class="relative w-dvw h-[24rem] bottom-0 bg-gradient-to-b from-white via-pink-200 to-indigo-700 opacity-70"
            ></div>
        </div>
        <div class="mx-auto container max-w-4xl text-center">
            <div class="space-y-3 text-sm md:text-base">
                <p class="flex gap-2 items-center justify-center">
                    <i class="fa-solid fa-location-dot"></i>
                    Semarang City, Central Java, Indonesia
                </p>
                <p
                    class="flex flex-wrap justify-center items-center gap-2 text-sm md:text-base text-gray-900"
                >
                    <span class="flex gap-2 items-center justify-center">
                        <i class="fa-solid fa-phone"></i>
                        +62 851-5543-0811
                    </span>
                    <span class="text-gray-500">•</span>
                    <a
                        href="mailto:rickysambora55@gmail.com"
                        class="text-indigo-900 hover:underline flex gap-2 items-center justify-center"
                    >
                        <i class="fa-solid fa-envelope"></i>
                        rickysambora55@gmail.com
                    </a>
                </p>
            </div>

            <div class="flex justify-center gap-5 mt-6 text-indigo-900 text-xl">
                <a
                    href="https://www.instagram.com/rickysa55/"
                    target="_blank"
                    class="hover:text-pink-400"
                >
                    <i class="fab fa-instagram"></i>
                </a>
                <a
                    href="https://www.linkedin.com/in/ricky55/"
                    target="_blank"
                    class="hover:text-pink-400"
                >
                    <i class="fab fa-linkedin"></i>
                </a>
                <a
                    href="https://github.com/rickysambora55"
                    target="_blank"
                    class="hover:text-pink-400"
                >
                    <i class="fa-brands fa-github"></i>
                </a>
                <a
                    href="https://gitlab.com/rickysambora55"
                    target="_blank"
                    class="hover:text-pink-400"
                >
                    <i class="fa-brands fa-gitlab"></i>
                </a>
            </div>
            <p class="text-xs text-gray-500 mt-4">&copy; 2025 Ricky Sambora</p>
        </div>
    </footer>
    <script type="module" src="/src/assets/js/main.js"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
</body>